<!-- <div class="page-header">
	<form class="form">
		<label class="search-label">Sök område eller trafikskola</label>
		<input type="text" class="input-medium search-query-large">
		<button type="submit" class="btn btn-large">Sök</button>
		<span class="search-help-block">Exempel: "Odenplan", "Holmgatan, Malmö" eller "Mårtensson trafikskola"</span>
	</form>
</div> 
<div class="page-header">
	<%= form_tag schools_path, :method => :get do %>
		<label class="search-label">Sök område eller trafikskola</label>
		<%= text_field_tag :search, params[:search], :class => "input-medium search-query-large" %>
		<%= submit_tag "Sök", :name => nil, :class => "btn btn-large" %>
		<span class="search-help-block">Exempel: "Odenplan", "Holmgatan, Malmö" eller "Mårtensson trafikskola"</span>
	<% end %>
</div>
-->