<!-- Search bar -->
<div class="row search-bar">
	<div class="span12 search-padding">
		<form class="form-search">
			<h3>Sök områden eller trafikskola</h3>
			<input type="text" class="input-medium search-query">
			<button type="submit" class="btn">Sök</button>
		</form>
	</div>
</div>